<CENTER>

<TABLE BORDER=0 CELLPADDING=10><TR><TD VALIGN="middle"><H2>All Da Flows.</H2></TD></TR></TABLE><BR />

<TABLE ID="bodyTable"><TR><TD VALIGN="top">

<UL>
<!-- need to refresh this upon AJAX refresh -->
<% for (var i=0; i<flows.length; i++) { %>
<LI><DIV CLASS="showRhymes" ID="flow<%= i %>" TITLE="(topic #1: <%= flows[i].topic1 %>, topic #2: <%= flows[i].topic2 %>, date: <%= flows[i].date %>"><%= flows[i].compiledFlow %> <!-- <SPAN STYLE="font-size: 8pt; font-family: Arial;">[ <A HREF="" onClick="toggleEdit(<%= i %>, <%= flows[i].flowID %>); return false;" ID="flowLink<%= i %>">edit</A> ]</SPAN> -->
<DIV ID="flowContents<%= i %>" STYLE="display: none;">hi</DIV>
</DIV></LI>
<% } %>
</UL>

</TD></TR></TABLE> <!-- /bodyTable -->

<script type="text/javascript">

var toggleEdit = function(i, flowID) {
		if ($("#flowLink"+i).html() == "edit") {
			$("#flowLink" + i).html("hide");
			$("#flowContents" + i).load("/flows/" + flowID + "/edit");
			$("#flow"+i).css("border-style", "dotted");
			$("#flow"+i).css("border-color", "black");
			$("#flow"+i).css("border-width", "1px");
		}
		else {
			$("#flowLink" + i).html("edit");
			$("#flow"+i).css("border-width", "0px");
		}
		$("#flowContents" + i).toggle();
		return false;
}

$(function() {

});

</script>