<HTML>

<HEAD>
<TITLE><% if (typeof pageTitle != "undefined") { %>
           <%= pageTitle %>
        <% } else { %>
            Karaoke Flow
        <% } %></TITLE>
<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
<link href='/css/kf.css' rel='stylesheet' type='text/css'>
<link type="text/css" href="/css/pepper-grinder/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.17.custom.min.js"></script>
</HEAD>

<BODY BGCOLOR="#F96B2D">

<DIV CLASS="headfoot" ID="header">
<DIV ID="karaokeFlow">Karaoke Flow</DIV>
</DIV>

<%- body %>

<BR /><BR />

<DIV CLASS="headfoot" ID="footer"><BR />
Karaoke Flow :: [ <A HREF="/about/">about</A> | <A HREF="http://benturner.com/contact_me.php">contact</A> ]
<BR /><BR />
</DIV>

</BODY>

</HTML>