<% if (solo == true) { %>
<BR /><CENTER>
<% } %>
<form method="POST" action="/login">
	<!-- hidden field will pass in any redirect variables, empty value is OK too -->
 	<input type="hidden" name="redirect" value="<%= redirect %>">
    <input type="text" name="email" id="email" class="placeholder text ui-widget-content ui-corner-all" placeholder="email@email.com">
    <input type="password" name="password" id="password" class="placeholder text ui-widget-content ui-corner-all" placeholder="password">
    <input type="submit" value="Log Me In" class="glow text ui-widget-content ui-corner-all">
</form>