<HTML>

<HEAD>
<TITLE><% if (typeof pageTitle != "undefined") { %>
           <%= pageTitle %>
        <% } else { %>
            Karaoke Flow
        <% } %></TITLE>
<link href='http://fonts.googleapis.com/css?family=Amethysta' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
<link href='/css/kf.css' rel='stylesheet' type='text/css'>
<link type="text/css" href="/css/pepper-grinder/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
<SCRIPT TYPE="text/javascript" SRC="/js/keymaster.min.js"></SCRIPT>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.17.custom.min.js"></script>
</HEAD>

<BODY BGCOLOR="#F96B2D">

<DIV CLASS="headfoot" ID="header">
<TABLE BORDER=0 WIDTH="100%"><TR><TD VALIGN="top" ALIGN="center" WIDTH="40%">
<DIV ID="karaokeFlow" STYLE="line-height: 0.8em;"><A HREF="/">Karaoke Flow</A></DIV>
<% if (admin == true) { %>
<DIV ID="adminHeader"><CENTER>[ ADMIN: 
<A HREF="/flows/edit">all flows</A>
| <A HREF="/rhymes/edit">all rhymes</A>
| <A HREF="/stats/edit">stats</A> <!-- TODO: make this work -->
]</CENTER></DIV>
<% } %>

<% if (allLists == true) { %>
<DIV ID="adminHeader"><CENTER>[ LISTS: 
<A HREF="/flows">all flows</A>
| <A HREF="/rhymes">all rhymes</A>
| <A HREF="/stats">stats</A>
]</CENTER></DIV>
<% } %>
</TD><TD VALIGN="middle" ALIGN="center" STYLE="line-height: 1.7em;">
<CENTER>this dope flow is called:<BR />
<SPAN ID="performFlowTitle">"<%= flowName %>"</SPAN></CENTER><BR />
</TD>
</TR></TABLE>
</DIV>

<TABLE ID="lyricsTable" CELLSPACING=20 WIDTH="100%"><TR><TD VALIGN="top" WIDTH="40%" ALIGN="left" STYLE="padding-left: 20px;">

<TABLE BORDER=0 CELLPADDING=0><TR><TD VALIGN="middle"><H2 STYLE="font-size: 25pt;">Step #2: Perform da Rhymes</H2></TD></TR></TABLE><BR />

<!--
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F13202558&amp;auto_play=false&amp;show_artwork=true&amp;color=ff7700"></iframe>

<iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F11830171&amp;auto_play=false&amp;show_artwork=true&amp;color=ff7700"></iframe>

<iframe width="200" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F25711754&amp;auto_play=false&amp;show_artwork=true&amp;color=ff7700"></iframe>

-->

<DIV STYLE="padding-left: 15px;">

A. Start Your Beat.<BR />

<iframe width="400" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F35694882&amp;auto_play=false&amp;show_artwork=true&amp;color=ff7700"></iframe>
<BR /><BR />
B. Rap da rhymes wit' yo' flow.  Press 'j' to highlight<BR />
next line, 'k' to highlight previous line.

</DIV>

</TD><TD VALIGN="top" ALIGN="center" CLASS="performTD">

<DIV ID="lyrics">

<BR />

<%
lineCounter = 0;
currentLine = 0;
rhymes2 = rhymes.split(",");
for (var i=0; i<rhymes2.length; i++) {
	var rhymesSplit = rhymes2[i].split("|");
	for (var j=0; j<rhymesSplit.length; j++) {
%>
<SPAN TITLE="<%= lineCounter %>" ID="line<%= lineCounter %>" CLASS="<% if (lineCounter == currentLine || lineCounter == 0) { %>lyricsCurrent<% } else if (lineCounter == currentLine - 1 || lineCounter == currentLine + 1) { %>lyricsNeighbor<% } %>"><%= rhymesSplit[j] %></SPAN><BR />
<% lineCounter++; } %>
<% } %>

</DIV> <!-- /lyrics -->

</TD></TR></TABLE>

<script type="text/javascript">
$(function() {
	lineCounter = <%= lineCounter %>;
	currentLine = <%= currentLine %>;
	key('j', function() {
		if (currentLine < lineCounter-1) {
			lastLine = currentLine - 1;
			nextLine = currentLine + 1;
			$("#line"+currentLine).removeClass("lyricsCurrent");
			$("#line"+lastLine+", #line"+nextLine).removeClass("lyricsNeighbor");
			currentLine++;
			lastLine = currentLine - 1;
			nextLine = currentLine + 1;
			$("#line"+currentLine).addClass("lyricsCurrent");
			$("#line"+lastLine+", #line"+nextLine).addClass("lyricsNeighbor");
		}
	});
	key('k', function() {
		if (currentLine > 0) {
			lastLine = currentLine + 1;
			nextLine = currentLine - 1;
			$("#line"+currentLine).removeClass("lyricsCurrent");
			$("#line"+lastLine+", #line"+nextLine).removeClass("lyricsNeighbor");
			currentLine--;
			lastLine = currentLine + 1;
			nextLine = currentLine - 1;
			$("#line"+currentLine).addClass("lyricsCurrent");
			$("#line"+lastLine+", #line"+nextLine).addClass("lyricsNeighbor");
		}
	});
	$("#submitRhymes").button().click(function() {
		window.location = '/perform';
		return false;
	});
	$("#help").button({
        icons: {
            primary: "ui-icon-help"
        },
        text: false
    }).click(function () {
    	$("#dialog").dialog({ title: "instructions", width: 400 });
	});
});

</script>

<BR /><BR />

<DIV CLASS="headfoot" ID="footer"><BR />
[ <A HREF="/">home</A> | <A HREF="/about">about</A> | <A HREF="http://benturner.com/contact_me.php">contact</A> ]

[ JSON: <A HREF="/flows/json">flows</A> | <A HREF="/rhymes/json">rhymes</A> | <A HREF="/all/json">all</A> ]

<% if (allLists == true) { %>
<SPAN ID="adminHeader">[ LISTS: 
<A HREF="/flows">all flows</A>
| <A HREF="/rhymes">all rhymes</A>
| <A HREF="/stats">stats</A>
]</SPAN>
<% } %>

<% if (admin == true) { %>
<SPAN ID="adminHeader">[ ADMIN: 
<A HREF="/flows/edit">all flows</A>
| <A HREF="/rhymes/edit">all rhymes</A>
| <A HREF="/stats/edit">stats</A> <!-- TODO: make this work -->
]</SPAN>
<% } %>

<BR /><BR />

</BODY>

</HTML>