<BR /><TABLE BORDER=0 ALIGN="center">
<TR><TD COLSPAN=2>

Register a New User

<form method="POST" action="/register">

</TD></TR>
<TR><TD><label for="firstname">First name:</label></TD>
<TD><input type="text" name="firstname" id="firstname" ></TD>
<TR><TD><label for="lastname">Last name:</label></TD>
<TD><input type="text" name="lastname" id="lastname"></TD></TR>
<TR><TD><label for="email">Email:</label></TD>
<TD><input type="text" name="email" id="email" placeholder="email@email.com"></TD></TR>
<TR><TD><label for="password">Password:</label></TD>
<TD><input type="password" name="password" id="password"></TD></TR>

<TR><TD COLSPAN=2><BR /><input type="submit" value="Register" CLASS="glow"></TD></TR>
    
</form>

</TABLE>