<CENTER>

<TABLE BORDER=0 CELLPADDING=10><TR><TD VALIGN="middle"><H2>All Da Rhymes.</H2></TD></TR></TABLE><BR />

<TABLE ID="bodyTable"><TR><TD VALIGN="top">

<UL>
<!-- need to refresh this upon AJAX refresh -->
<% for (var i=0; i<rhymes.length; i++) { %>
<LI><DIV CLASS="showRhymes" ID="rhyme<%= i %>" TITLE="(topic #1: <%= rhymes[i].topic1 %>, topic #2: <%= rhymes[i].topic2 %>, date: <%= rhymes[i].date %>"><%= rhymes[i].body %> <SPAN STYLE="font-size: 8pt; font-family: Arial;">[ <A HREF="" onClick="toggleEdit(<%= i %>, <%= rhymes[i].rhymeID %>); return false;" ID="rhymeLink<%= i %>">edit</A> ]</SPAN>
<DIV ID="rhymeContents<%= i %>" STYLE="display: none;">hi</DIV>
</DIV></LI>
<% } %>
</UL>

</TD></TR></TABLE> <!-- /bodyTable -->

<script type="text/javascript">

var toggleEdit = function(i, rhymeID) {
		if ($("#rhymeLink"+i).html() == "edit") {
			$("#rhymeLink" + i).html("hide");
			$("#rhymeContents" + i).load("/rhymes/" + rhymeID + "/edit");
			$("#rhyme"+i).css("border-style", "dotted");
			$("#rhyme"+i).css("border-color", "black");
			$("#rhyme"+i).css("border-width", "1px");
		}
		else {
			$("#rhymeLink" + i).html("edit");
			$("#rhyme"+i).css("border-width", "0px");
		}
		$("#rhymeContents" + i).toggle();
}

$(function() {

});

</script>