	.rhymePrompts { font-size: 16pt; font-weight: bold; }
	*, INPUT[type="submit"] { font-family: 'Permanent Marker', cursive; }
	BODY { margin: 0px; background: #F96B2D; }
	A { color: black; }
	INPUT[type="text"], TEXTAREA { font-size: 18pt; border: 1px solid #000000; background: #F99461; padding: 6px;}
	#tablePrompts { text-align: center; background: #28F348; color: #6D249E; border-style: dotted; border-width: 3px; border-color: #F96B2D; }
	#tablePrompts TD { padding: 20px; font-size: 20pt; }
	.rhymeAnswers { color: black; }
	#header { border-bottom-width: 3px; border-bottom-style: dotted; border-bottom-color: #F96B2D; }
	#footer { border-top-width: 3px; border-top-style: dotted; border-top-color: #F96B2D; }
	.headfoot { background: #28F348; text-align: center; color: #6D249E; margin: 0px; }
	#karaokeFlow { font-size: 60pt; align: center; letter-spacing: -3px; }
	H2 { font-size: 30pt; display: inline;}
	#javascript_countdown_time { color: #6D249E; }
	#submitRhymes { font-size: 30pt; }
	#submitRhymes:hover { background: white; color: black; }
	.help { color: gray !important; border-size: 0pt !important; background: white !important; font-size: 10pt; }
	.addLine { border-color: white !important; border-size: 0pt !important; }
	#help { font-size: 10pt; vertical-align: middle;}
	.help:hover { color: black; border-color: black !important; }
	BUTTON, INPUT[type="submit"] { vertical-align: text-top; background: #4DE0E2 !important; color: #000000 !important; border-color: black; border-size: 1pt; border-style: solid; }
	.glow { -webkit-animation-name: bluePulse; -webkit-animation-duration: 2s; -webkit-animation-iteration-count: infinite; }
	BUTTON:hover, INPUT[type="submit"]:hover { background: white !important; color: black !important; }
	#dialog { font-size: 12pt; font-family: Arial;}
	#lyrics { color: white; font-size: 20pt; text-align: justify; font-family: Arial; }
	#lyricsTable { margin-left: auto; margin-right: auto; }
	#flowName { font-size: 20pt;}

	/* from http://www.zurb.com/playground/radioactive-buttons */
	@-webkit-keyframes bluePulse {
		from { background-color: #80e0f0; -webkit-box-shadow:: 0 0 20px #F96B2D !important; }
		50% { background-color: #40a0e0; -webkit-box-shadow:: 0 0 40px #40a0e0 !important; }
		to { background-color: #80e0f0; -webkit-box-shadow:: 0 0 20px #F96B2D !important; }
	}